.mdl-navigation {
    background-color: red;
    color: white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: block;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding: 8px 40px;
    margin: 0;
    color: white;
}

.mdl-layout__drawer {
    background-color: black;
    text-align: center;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(//iconfonts/MaterialIcons-Regular.woff2) format(' woff2'),
    url(//iconfonts/MaterialIcons-Regular.woff) format('woff'),
    url(//iconfonts/MaterialIcons-Regular.ttf) format('truetype');
    src: url('resources/iconfonts/MaterialIcons-Regular.eot');
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 42px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #6200ea;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.mdl-layout__content {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.content_body {
    padding-left: 2em;
}

#navdiv > div > div > div.mdl-layout__drawer.is-visible {
    width: 25%;
}

.mdl-navigation {
    color: purple;
}

.link-style {
    color: #6200ea;
}

#contentdiv {
    text-align: center;
    background-color: black;
}

.header_img_margins {
    margin-bottom: 50px;
}

.textalign {
    text-align: center;
}

html, body, header, .view {
    height: 100%;
}

@media ( max-width: 740px) {
    html, body, header, .view {
        height: 1000px;
    }
}

@media ( min-width: 800px) and (max-width: 850px) {
    html, body, header, .view {
        height: 650px;
    }
}

.page-footer {
    margin-top: 0px;
}

#pageContent {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html, body, .view {
    height: 100%;
}

@media ( max-width: 740px) {
    .full-page-intro {
        height: 1000px;
    }
}

/* Half Page Carousel itself*/
.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item, .carousel .carousel-inner .active {
    height: 100%;
}

/* Adjustment for mobile devices*/
@media ( max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

/* Navbar animation */
.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
    background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #000000;
}

.colorGold {
    color: gold;
}

.colorRed {
    color: red;
}

.row {
    margin-bottom: 2em;
}

.contactFormLabel {
    color: gold;
}